#googleMap {
    width: 80%;
    height: 80%;
    margin: 20px auto;
}

.to-do-list-item {
    display: grid;
    margin-bottom: .5em;
}

.hidden {
    display: none;
}

#list-name {
    height:auto;
    width: 20%;
}