/* MAP STYLES */
#googleMap {
    width: 800px;
    height: 700px;
    margin: 20px auto;
    box-shadow: 0px 2px 5px 4px #ccc;
}

#hotelMap {
    width: 800px;
    height: 700px;
    margin: 20px auto;
}

.map {
    margin: 30px;
    text-align: center;
}
/* body.weather {
    background: url(/static/images/watercolor-paper-texture.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
 
}*/
#distance-label {
    position: right;
}

/* #from {
    margin-right: 30px;
}

#to {
    margin-right: 20px; 
} */

.distance {
   justify-content: right;
   text-align: center;
}

.input-group {
     margin-bottom:30px;
     gap: 20px;
     justify-content: center;
}

.input-column {
    display: inline-flex;
}

.input-group-text {
    display: inline-flex;
}

.form-control {
    display: inline-block;
    width: 250px;
}
.map-form {
    width: 100%;
}

.hotel-search {
    margin-left: 20px;
}


/* TO DO STYLES */
.to-do-list-item {
    display: grid;
    margin-bottom: .5em;
}

.hidden {
    display: none;
}

#list-name {
    height:auto;
    width: 20%;
}

.to-do-container {
    display: flex;
    align-items: baseline;
}

.to-do-list-item {
    display: grid;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.remove-to-do {
    font-size: 12px;
    border-radius: 4px;
    border-width: 1px;
    margin-top: 0.5em;
    margin-inline: 0.5em;
}

.update_to_do {
    display: flex;
    margin-bottom: 0.5em;
}

.add-new-to-do-container {
    display: flex;
    flex-direction: column;
    height:auto;
    width: 20%;
    gap: 5px;
}

/* NAV BAR STYLES */
#menu-bar {
    background-image: linear-gradient(-90deg ,#dddddd,#bcf7e6);
    /* background-color: rgb(179, 179, 179); */
}

.nav-item:hover {
    font-weight: 600;
    border-bottom: 1px solid #ffff;
}

.navbar-brand img {
    width: 180px;
    margin-top: 5px;
    margin-left: 20px;
}

@media only screen and (max-width: 1000px) {
    .nav-item:hover {
        border-bottom: none!important;
    }
}


/* HOMEPAGE STYLES */
body.homepage {
     background: url(/static/images/landscape.jpg) no-repeat center center fixed;
     display: table;
     height: 100%;
     position: relative;
     width: 100%;
     background-size: cover;

}

/* body.weather { */
    /* background: url(/static/images/clouds.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover; */
/* } */

.empty {
    height:150px; 
    width:100%; 
}

#intro {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Luckiest Guy", serif;
}

p {
    font-family: "Advent Pro", 14pt;
    font-size: medium;
}

.login-text {
    margin: auto;
    width: 50%;
    text-align: center;
}

#login {
    padding-top: 6%;
}

.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;

}

#login-modal{
    background-color: white;
    opacity: .9;
    padding: 0 18px;
    border-radius: 10px;
    width: 400px;
    margin: auto;

}

.user-img img {
    height: 120px;
    width: 120px;
}

.user-img {
    margin-top: -60px;
    margin-bottom: 5px;

}

.login-modal {
    justify-content: center;
}

.login-group {
    margin-bottom: 30px;
}

.login-group input {
    height: 30px;
    border: 1;
    font-size: 16px;
    letter-spacing: 2px;
    /* padding-left:40px; used for adding an icon at the beginning of input field */
    margin-bottom: 15px;
    text-align: center;
    width: 350px;
}

#register {
    text-align: center;
}

#signup {
    justify-content: center;
}

#login-btn {
    margin-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    border-color: white;
}

#login-btn:hover {
    background-color: rgb(13, 136, 25);
}

#signup {
    margin-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}


/* DASHBOARD STYLES */
body.dashboard {
    height: 100%;
    width: 100%;
    margin: 30px auto;
}

.counter {
    text-align: center;
}

.upcoming-trip-container {
    margin: 30px;
    text-align: center;
}

.upcoming-trip-container span {
   color: blue ;
}

.chkbox {
    background-color: green;
}

#view-to-dos-container {
    border-style: solid;
    border-color: #c4cdd5;
    padding-bottom: 10px;
    text-align: left;
}

.list_name {
    border-bottom: solid;
    border-color: #c4cdd5; 
    margin-bottom: 8px;
    text-align: center;
}

#checked_todos {
    margin: 0px;
    padding-bottom: 5px;
    border-top: solid;
    border-top: #c4cdd5;
    padding-left: 15px;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin: 0px;

}

.card-text {
    text-align: center;
}

.dashboard-cards {
    margin: 30px;
}