/* MAP STYLES */
#googleMap {
    width: 800px;
    height: 700px;
    margin: 20px auto;
    box-shadow: 0px 2px 5px 4px #ccc;
}

.map {
    margin: 30px;
    text-align: center;
}
/* body.weather {
    background: url(/static/images/watercolor-paper-texture.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
 
}*/

#distance-label {
    position: right;
}

.distance {
   justify-content: right;
   text-align: center;
}

.input-group {
     margin-bottom:30px;
     gap: 20px;
     justify-content: center;
     
}

.input-group-text {
    display: inline-flex;
    border-radius: none;
}

.form-control {
    display: inline-block;
    width: 250px;
}
.map-form {
    width: 100%;
}

#calc-route:hover {
    background-color: rgb(13, 136, 25);
    transform: translateY(-3px);
    box-shadow: 0 0 20px green;
    border: none;
    color: white;
}



/* HOTEL MAP STYLES */

#hotelMap {
    width: 800px;
    height: 600px;
    /* margin: 20px auto; */
    /* margin-left: 10px; */
}

#hotel-search {
    justify-content: center;
}

/* body.hotel  {
    height: 100%;
    width: 100%;
    margin: 30px auto; 
}*/

.hotel-search {
    margin-left: 60px;
    margin-bottom: 30px;
}
.mx-auto.hotel{
    margin-top: 30px;
}

#results {
    margin-left: 20px;
}


/* TO DO STYLES */
.to-do-list-item {
    display: grid;
    margin-bottom: .5em;
}

.hidden {
    display: none;
}

#list-name {
    height:auto;
    width: 20%;
}

.to-do-container {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.to-do-list-item {
    display: grid;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.remove-to-do {
    font-size: 12px;
    border-radius: 4px;
    border-width: 1px;
    margin-top: 0.5em;
    margin-inline: 0.5em;
}

.update_to_do {
    display: flex;
    margin-bottom: 0.5em;
}

.add-new-to-do-container {
    display: flex;
    flex-direction: column;
    height:auto;
    width: 20%;
    gap: 5px;
}


/* NAV BAR STYLES */
#menu-bar {
    /* background-image: linear-gradient(-160deg ,white,#8acbce); */
    background-color: rgb(255, 255, 255);
}

.nav-item:hover {
    font-weight: 600;
    border-bottom: 1px solid #ffff;
}

.navbar-brand img {
    width: 180px;
    margin-top: 5px;
    margin-left: 20px;
}

@media only screen and (max-width: 1000px) {
    .nav-item:hover {
        border-bottom: none!important;
    }
}


/* HOMEPAGE STYLES */
body.homepage {
     background: url(/static/images/landscape.jpg) no-repeat center center;
     display: table;
     height: 100%;
     position: relative;
     width: 100%;
     background-size: cover;

}

/* body.weather { */
    /* background: url(/static/images/clouds.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover; */
/* } */

.empty {
    height:150px; 
    width:100%; 
}

#intro {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Luckiest Guy", serif;
}

* {
    font-family: "Advent Pro", serif; /*TODO set font*/
    font-size: 12pt;
}


.login-text {
    margin: auto;
    width: 50%;
    text-align: center;
}

#login {
    padding-top: 6%;
    color: rgb(222, 219, 135);
}

.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;

}

#login-modal{
    background-color: white;
    opacity: .9;
    padding: 0 18px;
    border-radius: 10px;
    width: 400px;
    margin: auto;

}

.user-img img {
    height: 120px;
    width: 120px;
}

.user-img {
    margin-top: -60px;
    margin-bottom: 5px;

}

.login-modal {
    justify-content: center;
}

.login-group {
    margin-bottom: 30px;
}

.login-group input {
    height: 30px;
    border: 1;
    font-size: 16px;
    letter-spacing: 2px;
    /* padding-left:40px; used for adding an icon at the beginning of input field */
    margin-bottom: 15px;
    text-align: center;
    width: 350px;
}

#register {
    text-align: center;
}

#signup {
    justify-content: center;
}

#login-btn {
    margin-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    border-color: white;
    transition: transform 0.4s, background-color 0.4s, color 0.4s;
}

#login-btn:hover {
    background-color: rgb(13, 136, 25);
    transform: translateY(-3px);
    /* color: var(--clr); */
    box-shadow: 0 0 20px green;
}

#signup {
    margin-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    transition: transform 0.4s, background-color 0.4s, color 0.4s;

}

#signup:hover {
    background-color: rgb(13, 136, 25);
    transform: translateY(-3px);
    /* color: var(--clr); */
    box-shadow: 0 0 20px green;
    color: white;
    border: none;
}


/* DASHBOARD STYLES */

/* body.dashboard {
    height: 100%;
    width: 100%;
    margin: 30px auto;
} */

.counter {
    text-align: center;
}

.upcoming-trip-container {
    margin: 30px;
    text-align: center;
}

.upcoming-trip-container span {
   color: blue ;
   font-size: 20pt;
}

#view-to-dos-container {
    /* border-style: solid;
    border-color: #c4cdd5; */
    padding-bottom: 10px;
    text-align: left;
}

.list_name {
    /* border-bottom: solid;
    border-color: #c4cdd5;  */
    margin-bottom: 8px;
    text-align: center;
}

#checked_todos {
    margin: 0px;
    padding-bottom: 5px;
    border-top: solid;
    border-top: #c4cdd5;
    padding-left: 15px;
}

ul {
    list-style-type: none; /* Remove bullets */
    /* padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin: 0px; 

}

.card-text {
    text-align: center;
}

.dashboard-cards {
    margin: 30px;
}

#checklist-footer {
    border: none;
    padding-bottom: 0;
}

/* MY TRIPS */
body.trips {
    background-color: rgb(217, 245, 254);
    position: relative;
}

#trips {
    margin-top: 30px;
}

.container.future-trips, .container.past-trips h3 {
    text-align: center;
}

.my-trip-btn {
    transition: transform 0.4s, background-color 0.2s, color 0.2s;

}

.my-trip-btn:hover {
    background-color: rgb(13, 136, 25);
    transform: translateY(-3px);
    /* color: var(--clr); */
    box-shadow: 0 0 20px green;
    color: white;
    border: none;
}


/* Update-trip */
body.update-trip {
    background: linear-gradient(180deg ,white,#a9eaee);
    background-attachment: fixed;
}

.trip-details {
    margin: 30px;
}

.add-todo {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    align-items: baseline;
}

.update-todo-btn {
    padding: 3px;
    padding-left: 6px;
    transition: transform 0.4s, background-color 0.2s, color 0.2s;


}

.update-todo-btn:hover {
    background-color: rgb(13, 136, 25);
    transform: translateY(-1px);
    /* color: var(--clr); */
    box-shadow: 0 0 20px green;
    color: white;
    border: none;
}


/* Gas Calc */
body.gas-calc {
    background-color: #ddf0dd;
}

#gas-page {
    margin: 30px;
    text-align: center;
}

#gas-calc {
    margin-top: 30px;    
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.calc {
    background: rgb(66, 66, 66);
    padding: 20px;
    border-radius: 20px;
    text-align: right;
    box-shadow: 0px 0px 8px rgb(255, 255, 255), 10px 10px 8px rgba(0,0,0,0.2);
}

.calc form input {
    border: 0;
    outline: 0;
    width: 70px;
    height: 40px;
    border-radius: 7px;
    box-shadow: 0px 0px 3px rgb(205, 205, 205), 5px 5px 5px rgba(0,0,0,0.2);
    margin: 6px;
    text-align: center;
    align: right;
    font-size: 14pt;
}

.calc form label {
    color: white;
    font-size: 14pt;
}

#total {
    margin-right: 3px;
    border-radius: 5px;
    background-color: green;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.total:active {
    /* background-color: #3e8e41; */
    box-shadow: 0 7px #666;
    transform: translateY(5px);
  }


#gas_total {
    width: 90%;
    margin:auto;
    text-align: end;
    box-shadow:inset 0px 0px 15px rgb(255, 255, 255),
               inset 5px 5px 10px rgb(39, 39, 39);
    /* border: solid; */
    padding-right: 5px;
    margin-bottom: 30px;
    font-size: 16pt;
}



.custom-shape-divider-bottom-1673808961 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1673808961 svg {
    position: relative;
    display: block;
    width: calc(198% + 1.3px);
    height: 195px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1673808961 .shape-fill {
    fill: #99B700;
}