{% extends 'base.html' %}

{%block title %} Welcome to The Roadie {% endblock %}


{% block body %}
<body class="homepage">
    
<div id="login">
    <div class="login-text">
        <h1 class="display-5"> Welcome to The Roadie!</h1>

        <!-- <p id="intro"> The Roadie is the best roadtrip companion around. Not only can you create and save your upcoming
            adventures, but you can also check the weather for your route, check for hotels on the hotel map, and more.
        </p> -->
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register a New Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/register" method="POST">

                        <p>
                            <input type="text" name="first name" required="true" placeholder="first name">
                            <input type="text" name="last name" required="true" placeholder="last name">
                        </p>
                        <p>
                            <input type="text" name="email" required="true" placeholder="email">
                        </p>

                        <p>
                            <input type="password" name="password" required="true" placeholder="password">
                            <input type="password" name="confirm password" required="true"
                                placeholder="confirm password">
                        </p>

                        <!-- <p>
                            <input type="submit">
                        </p> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>


<div class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
        <div class="modal-content" id="login-modal">
            <div class="col-12 user-img">
                <img src="/static/images/car-side-solid.svg">
            </div>
            <h2> Login </h2>

            <div class="col-12 form-input">
                <form action="/login" method="POST">
                    <div class="login-group">
                        <input type="text" name="email" placeholder="email" required="true"><!--<img src="/static/images/email.png" alt="">--></input>
                        <input type="password" name="password" placeholder="password" required="true">
                    </div>
                    <button type="submit" class="btn btn-danger" id="login-btn" >Login</button>
                </form>
            </div>
            <p id="register"> Don't have an account? No problem!</p>
            <!-- Button trigger modal -->
            <button id="signup" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Signup Now
            </button>

        </div>
    </div>
</div>
<br>
<div class="empty"></div>
</div>

</body>
{% endblock %}
