{% extends 'base.html' %}

{% block title%} Map {% endblock %} -->

{% block body %}
<div class="map">
    <div>
        <h1> Route and Weather </h1>
        <p> Please enter your from and to destination.</p>
        <form id="map-route" action="#"> <!--check if this is right-->
            <div class="form-group">
                <label for="from"> From: </label>
                <div>
                    <input type="text" id="from" placeholder="Origin">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="to"> To: </label>
                <div>
                    <input type="text" id="to" placeholder="Destination">
                </div>
            </div>
            <p>
                <button type="submit" id="calc-route"> Calculate Route </button>
            </p>
        </form>
        <label for="distnce">Distance (one way): </label>
        <input type="text" id="distance" readonly></input>

    </div>
</div>
<section class="googleMap">

    <div id="googleMap"></div>

    <div id="output"></div>
</section>



<script defer src="/static/JS/map.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key={{ FRONT_GOOGLE }}&callback=initMap">
</script>


{% endblock %}