{% extends "base.html"%}

{% block title%} My Trips {% endblock %}

{% block body %}
<h1> Plan a new trip </h1>
<p>
<form method="POST" action="/my-trips/create-trip" id="create-trip">
    <div>
        <label> Leaving from: </label>
        <input type="text" id="from" name="from" placeholder="origin"></input>

        <label> Going to: </label>
        <input type="text" id="to" name="to" placeholder="destination"></input>
    </div>
    <br />
    <div>
        <label> Leave date: </label>
        <input type="date" id="leave_date" name="depart_date" placeholder="mm/dd/yyyy"></input>

        <label> Return date: </label>
        <input type="date" id="return_date" name="return_date" placeholder="mm/dd/yyyy"></input>

    </div>
    <br>

    <br>
    <div id="to-do-form" class="hidden">
        <label> List Name: </label>
        <input type="text" id="list-name" placeholder="ex: dad's packing list, snacks, prep the car"></input>
        <br />
        <br />
        <div id="to-do-list"></div>
        <br />
        <button type="button" id="to-do-list-button">+ Add a to-do</button>
    </div>
    <div>
        <button type="button" id="create_list" onclick="this.style.display='none'">Create a To-Do List</button>
    </div>
    <br />

       <button type="submit" name="save-trip-button">Save Trip</button>
    
</form>
</p>


<br/>
<div class="container">
    <h3> View Future Trips </h3>
    <p>
    <form action="/update" method="POST">
        <select for="future_trip_list" name="future_trip">

            {% for trip in future_trip_list %}

            <option value="{{trip.trip_id}}"> {{ trip.leave_date }} {{ trip.to_dest }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit" id="view-trip-details">View Trip Details / Edit Trip</button>
    </form>
        
    </p>
</div>
<br>
<div class="container">
    <h3>Past Trips</h3>
    <p>
    <form>
        <ul for="past_trip_list">
            {% for trip in past_trip_list %}

            <li>{{ trip.leave_date }} {{ trip.to_dest }} </li>

            {% endfor %}
        </ul>
        <br><br>
        <!-- <button type="button" id="view-trip-details">View Trip Details</input> -->
    </form>
    </p>
</div>

<script src="/static/JS/my-trips.js"></script>

{% endblock %}