{% extends "base.html" %}
{% block title%} Trip Details {% endblock %}

{% block body %}
<h1> Trip Details </h1>

<form method="POST" action="/update/{{ trip.trip_id }}" id="update_trip">
    <div>
        <label> Leaving from: </label>
        <input type="text" id="from" name="from" value="{{ trip.from_dest }}"></input>

        <label> Going to: </label>
        <input type="text" id="to" name="to" value="{{ trip.to_dest }}"></input>
    </div>
    <br />
    <div>
        <label> Leave date: </label>
        <input type="date" id="leave_date" name="depart_date" value="{{ trip.leave_date }}"></input>

        <label> Return date: </label>
        <input type="date" id="return_date" name="return_date" value="{{ trip.return_date }}"></input>

    </div>

    <br/>

    <div id="updated-to-do" class="add-new-to-do-container">
        <p>{% for list in trip.lists %}</p>
           {% for to_do in list.to_dos %}
        <div id="container-{{ to_do.task_id }}" class="to-do-container">
            <input value="{{ to_do.to_do }}" class="update_to_do" name="{{ to_do.task_id }}"></input>
            <button name="{{ to_do.task_id }}" onclick="updateToDo(event, name)">Update</button>
            <button name="{{ to_do.task_id }}" onclick="removeToDo(name)">Remove</button>
        </div>
        {% endfor %}
        <!-- this is where the add new items show up on the website when add to do is clicked -->
    </div>
    <div>

        <input class="update_to_do" id="new-updated-to-do-item" placeholder="enter a to-do to add to your list"></input>
        <button type="button" id="add-to-do-button" onclick="addToDo({{list.list_id}})">+ Add a to-do</button>

    </div>
    {% endfor %}
    <br>
    <br>
    <button type="submit" name="save_trip">Save Trip</button>
    </form>

<script src="/static/JS/update-trip.js"></script>
{% endblock %}