{% extends 'base.html' %}

{% block title%} User Dashboard {% endblock %}

{% block body %}


    <h1> Welcome {{ user.first_name }} </h1>
    <p>
        This will be the users dashboard
    </p>
    
    <h3>Your trip to {{soonest_trip}} is in: {{countdown.days}} days</h3>
    <button type="button" id="view-to-dos">View To Do</button>
    <div id="view-to-dos-container" class="hidden">
   {% for list in current_trip.lists %}
            {% for todo in list.to_dos%}
                <p> {{todo.to_do}}</p>
        {% endfor %}
        {% endfor %}
    </div>
    <h3><a href="/my-trips">My Trips </a></h3>
    
    <h3><a href="/gas-calc"> Gas Calculator </a></h3>

    <h3><a href="/map"> Weather Map </a></h3>

    <h3><a href="/hotels">Hotel Map</a></h3>



    
<script src="/static/JS/current_todo_list.js"></script>
{% endblock %}